.remove:hover{

	cursor: pointer;

}



.tr_list_items{



	padding-top: 10px



}



.fixed_button_div{

	width: 100%;

	border:0px solid red;

	padding: 20px 20px 20px 0px;

	position: fixed;

	bottom: 0px;

	margin-left: -20px;

	background-color: #ffffff;

	z-index: 1;

	border-top: 1px solid #eaeaea;



}



.div-search-result{

	padding: 3px;

	

}



.img_holder{

	border:1px solid #ccc;

	text-align: center;

	padding: 4px;

}





.tbl_item_search .form-group {

	margin:3px;

}



.tbl_item_search_a td{

	padding: 4px;

	border: 1px solid #ccc;

}



.tbl_item_search_a tr:hover{	

	background-color: #eaeaea;

	cursor: pointer;

}



.tbl_item_search td {

	padding-left:10px;

}



.tbl_item_add td{

	padding: 6px;

}



.tbl_master_item thead{

	color: #000;

	font-weight: bold;

	text-transform: capitalize;

	background-color: #f3f3f3;

}



.tbl_master_item td{

	padding: 2px;

	border: 1px solid #ccc;

	font-size: 12px;

}



.tbl_master_item tr:hover{

	background-color: #f5f5f5;

}





.message_p{

	padding: 30px;

	text-align: center;

	background-color: #eaeaea;

}





.tblMaster td{

	padding:0px 4px 0px 4px; 

}



.mmspn3{

	color: red;

	font-weight: bold;

}



.mmspn2{

	color: Green;

	font-weight: bold;

}



.mmspn1{

	color: #000000;

	font-weight: bold;

}



.div_alert{

	

	margin-top: -22px;

	margin-bottom: 10px;

}



.tbl_master thead{

	color: #000;

	font-weight: bold;

	text-transform: capitalize;

	background-color: #f3f3f3;

}



.tbl_master td{

	padding: 5px;

	border: 1px solid #ccc;

	font-size: 12px;

}



.tbl_master tr:hover{

	background-color: #f5f5f5;

}



.action_link{

	cursor: pointer;

}



/* html,body input[type='text'],input[type='email'],input[type='password']{

	font-size: 14px;

	padding: 6px;

	margin:0px;

	height: 24px;

	border-radius: 2px;

} */





.page_wrap{

	margin: 0px 20px 100px 20px;

	margin-top: -10px;

}



.page_heading_large{

	font-size: 20px;

	font-weight: bold;

}



.page_heading_medium{

	font-size: 18px;

}



.message_field_red{

	padding: 10px;

	font-size: 14px;

	background-color: red;

	color: #fff;

	text-align:left;

	margin-bottom: 2px;

}



.error_text_after{

	color:red;

	font-size: 13px;

	font-weight: bold;

}

.items .border_td{
	border: 3px solid #dddddd !important;
}

.border_td input{
	border: none;
}